@use "../../../public/styles/_var.scss" as *;

.button {
  transition: all 120ms ease-in-out;
  display: inline-block;
  border: 1.5px solid $c-light;
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 0.5em 1em;
  font-weight: 400;
  // text-transform: capitalize;

  &:hover,
  &:focus {
    border-color: $c-orange;
    transform: translate(0, -1px);
    transition-delay: 70ms;
  }
}

.inline {
  padding: 0.2em 0.5em;
}
