---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <body>
    <main class="wrapper">
    <Nav />
      <div class="wrapper wrapper_readable mt8">
      <h1 class="title">404 — Page not found</h1>
      <p>
        <a class="link" href="/">→ Go back to the front page.</a>
        Maybe you can navigate your way to something interesting from there?</p>
    </div>
    <aside />
    <Footer />
  </body>
</html>
