---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

---

<html lang="en">
  <head>
    <MainHead title="About | Jeanine White" />
    <style lang="scss">
      .heroImg {
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .title {
        font-size: var(--f-u5);
        color: var(--c-orange);
        font-weight: 400;
        font-style: italic;
      }
      .bio {
        font-size: var(--f-u2);
        line-height: 2;
        text-rendering: optimizeLegibility;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
    
      <div class="bio wrapper wrapper__readable mt8">
        <h1 class="title">Konsultprofil</h1>
        <p>Pablo har arbetat med utveckling och design sedan 2010 och har utvecklat en stark passion för moderna och kundcentrerade lösningar.</p>
        <p>Genom åren har han arbetat inom roller som innefattar allt från frontend-utveckling till visuell- & Ui/Ux-design inom både mobil och webb.</p>
        <p>Han har utvecklat ett starkt tekniskt kunnande som han kombinerar med ett öga för detaljer och en stor vana att arbeta agilt nära backendutvecklare, designers och kravställare.</p>
        <p>Från hans olika projekt inom online- och e-handelsvärlden bär Pablo med sig goda kunskaper från vad som driver försäljning och var man tappar en potentiell kund. Att hela tiden kunna se påverkan och effekt av resten av domänen är något han bidrar med i alla projekt han deltar i.</p>
        <p>Pablo har även spenderat några år arbetandes inom den digital världen i Chile. Utöver sitt modersmål svenska talar och skriver han flytande engelska, spanska och finska.</p>
      </div>
    </div>
    <Footer />
</body>
</html>
