---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import AssignmentListing from '../components/Listing/index.jsx';

const latestAssignments = Astro.fetchContent('./assignments/**/*.md')
  .sort((a,b) => new Date(b.period_end) - new Date(a.period_end))
  .filter((item, index) => index < 3 && item);

---
<html lang="en">
  <head>
    <MainHead title="Pablo Anttila - Frontend-utvecklare specialiserad på JavaScript för webb och mobil" />
    <style lang="scss">
      @use '../../public/styles/var' as *;

      .hero {
        position: relative;
        overflow: hidden;
        height: 35vh;

        @media (min-width: $min-mobile) {
          height: 45vw;
        }
      }

      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 2rem 2rem 2rem 3rem;

        @media (min-width: $min-mobile) {
          padding: 0 6rem 0 8rem;
        }
      }

      .hero_title {
        text-indent: -.5em;
        font-weight: 900;
        font-size: $f-u6;
        margin-bottom: 0.5rem;
        margin-top: 0;
        line-height: $f-d2;

        @media (min-width: $min-mobile) {
          font-size: $f-u8;
          text-indent: -1.5em;
          line-height: $f-d1;

        }

        .subtitle {
          display: inline;
          font-weight: 400;
          font-size: $f-d6;
          font-style: normal;
          color: $c-gray;
          line-height: 95%;
        }
        
      }

      .grid {
        display: grid;
        grid-gap: 2rem;

      }

      .role {
        position: relative;
        display: inline-block;
        font-weight: 900;
        color: $t-bg;
        background-color: $t-fg;
        padding: 0.25em 0.5em;
        z-index: 2;

        @media (min-width: $min-mobile) {
          font-size: $f-u3;
        }

        + .role {
          margin-left: 1em;
        }

        &:nth-of-type(1) {
          .invert {
            background-color: $c-pink;
          }
        }

        &:nth-of-type(2) {
          .invert {
            background-color: $c-blue;
          }
        }

        &:nth-of-type(3) {
          .invert {
            background-color: $c-green;
          }
        }

        &:hover {
          .invert {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          }
        }
      }

      .invert {
        position: absolute;
        color: $t-fg;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
        transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
      }

      .desc {
        font-size: $f-u2;
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      .wrapper {
        max-width: 25em;
        margin: 2rem auto;

        @media (min-width: $min-mobile) {
          max-width: 50rem;
        }
      }

      .bio {
        line-height: 2;
        margin-bottom: 2rem;

        > span:first-of-type {
          line-height: 1;
          margin-bottom: 0.5em;
          display: block;
          font-weight: 700;
          font-size: $f-u4;
        }
      }
    </style>
  </head>
  <body>
    <Nav />
    <section class="hero">
        <div class="overlay">
          <h1 class="hero_title title">
            Pablo Anttila <span class="subtitle">— Frontend-utvecklare specialiserad på JavaScript för webb och mobil. 
            Utformar Ui/Ux, har ett öga för detaljer och bakgrund inom visuell kommunikation.</span>
          </h1>
        </div>
    </section>

    <main class="wrapper mt4 mb4">
        <div class="wrapper">
          <h3 class="section_title title">Profil</h3>
          <p>Pablo har arbetat med utveckling och design sedan 2010 och har utvecklat en stark passion för moderna och kundcentrerade lösningar.</p>
          <p>Genom åren har han arbetat inom roller som innefattar allt från frontend-utveckling till visuell- & Ui/Ux-design inom både mobil och webb.</p>
          <p>Han har utvecklat ett starkt tekniskt kunnande som han kombinerar med ett öga för detaljer och en stor vana att arbeta agilt nära backendutvecklare, designers och kravställare.</p>
          <p>Från hans olika projekt inom online- och e-handelsvärlden bär Pablo med sig goda kunskaper från vad som driver försäljning och var man tappar en potentiell kund. Att hela tiden kunna se påverkan och effekt av resten av domänen är något han bidrar med i alla projekt han deltar i.</p>
          <p>Pablo har även spenderat några år arbetandes inom den digitala världen i Chile. Utöver sitt modersmål svenska talar och skriver han flytande engelska, spanska och finska.</p>

          <div class="mt4">
            <a href="/assignments" class="link mr4">
              Läs om mina kunduppdrag
            </a>
              <a href="/assets/Cv_PabloAnttila_2021.pdf" download>
                <Button>Ladda ned mitt cv <span class="ml1 mt0 mb0 f-u1">↓</span> 
              </Button>
              </a>
          </div>
      </div>
    </main>
    <aside />
    <Footer />
  </body>
</html>
