---
import { getLanguageFromUrl } from "$/lang";
import { T } from "$/config.js";

// Import layout partials
import BaseLayout from "$layouts/BaseLayout.astro";

// Import Components
import AssignmentListing from "$components/Listing/index.jsx";
import Aside from "$components/Common/Aside.jsx";
import s from '../pages/en/assignments/betong-magasin.md'
const currentPage = Astro.request.url;
const lang = getLanguageFromUrl(currentPage);

interface Frontmatter {
  title: string;
  description?: string;
  published_at: string;
  period_start: Date;
  period_end: Date;
}
const assignments = await Astro.glob<Frontmatter>("../pages/*/assignments/*.md");

assignments
  .filter((p) => getLanguageFromUrl(p.url) === lang && p)
  .filter((p) => !!p.frontmatter.published_at)
  .sort((a, b) => new Date(b.frontmatter.period_start) - new Date(a.frontmatter.period_start));

const { content } = Astro.props;

const seeMore = T("common", "see_more", lang);
---

<BaseLayout addHead lang={lang}>
  <style lang="scss">
    .grid {
      display: grid;
      grid-gap: 3rem;
    }
  </style>
  <main class="wrapper">
    <div class="wrapper wrapper__readable mt8">
      <h1 class="title mt4 mb4">{content.title}</h1>
      <slot />
      <div class="grid">
        {
          assignments.map((assignment) => (
            <AssignmentListing assignment={assignment} strings={{ seeMore }} />
          ))
        }
      </div>
    </div>
  </main>
  <Aside />
</BaseLayout>
