---
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

const { period_end, period_start, title, client, lang, role, description, url, tags, teknik } = Astro.props.content;
const renderDate = `${new Date(period_start).getFullYear()} — ${new Date(period_end).getFullYear()}`

---
<html lang={ lang || 'en' }>
  <head>
    <MainHead title={title} />
    <style lang="scss">
      @use '../../public/styles/_var.scss' as *;
      .hero {
        padding: 8rem;
        display: flex;
        background-color: var(--t-fg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 25vw;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .assignmentTitle {
        font-size: $f-u3;
        font-style: bold;
        letter-spacing: 0.0025em;
        margin-bottom: 0;
        margin-top: 2em;
      }
      .date {
        font-size: $f-d3;
        color: $c-light;
      }
      .leadIn {
        font-size: $f-u4;
        color: var(--t-bg);
      }

      .tagline {
        font-weight: 300;
        font-size: var(--f-u3);
        line-height: 1.5;
      }

      .content {
        font-size: var(--f-u1);
        line-height: 2.2;
      }

      aside {
        background-image: none;
      }
    </style>
  </head>
  <body id="assignment"  >
    <main class="wrapper">
      <Nav />

    <div class="wrapper wrapper-readable leadIn">
      <h1 class="assignmentTitle">{title}</h1>
      <span class="date">{renderDate}</span>
      <div class="pt8 pb8 mb8">
        <span class="tagline">{description}</span>
      </div>
    </div>
    <div class="wrapper wrapper__readable">
      <div class="content"><slot></slot></div>
    </div>
    </main>
    <aside />
    <Footer />
  </body>
</html>
